<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Atlanta-MM" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Atlanta-MM-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-MM.jpg"/>
    <div id="g-ai11-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:32.1771%;margin-top:-27.2px;left:66.8627%;margin-left:-41px;width:82px;">
      <p class="g-pstyle0">North</p>
      <p class="g-pstyle0">Lake</p>
    </div>
    <div id="g-ai11-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:35.0057%;margin-top:-14px;left:29.5646%;margin-left:-63px;width:126px;">
      <p class="g-pstyle0">Buckhead</p>
    </div>
    <div id="g-ai11-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:49.0057%;margin-top:-14px;left:38.3213%;margin-left:-57.5px;width:115px;">
      <p class="g-pstyle0">Midtown</p>
    </div>
    <div id="g-ai11-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:52.0057%;margin-top:-14px;left:57.0792%;margin-left:-52.5px;width:105px;">
      <p class="g-pstyle0">Decatur</p>
    </div>
    <div id="g-ai11-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:60.0057%;margin-top:-14px;left:51.0893%;margin-left:-61px;width:122px;">
      <p class="g-pstyle0">Kirkwood</p>
    </div>
    <div id="g-ai11-6" class="g-IMGs g-aiAbs g-aiPointText" style="top:86.6056%;margin-top:-27.2px;left:16.5652%;margin-left:-50.5px;width:101px;">
      <p class="g-pstyle0">College</p>
      <p class="g-pstyle0">Park</p>
    </div>
  </div>
</div>
