<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Atlanta-MM" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Atlanta-MM-img" class="g-aiImg" src="assets/images/Maps-ai2html-Atlanta-MM.jpg"/>
    <div id="g-ai24-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:34.8914%;margin-top:-27.2px;left:73.5609%;margin-left:-41px;width:82px;">
      <p class="g-pstyle0">North</p>
      <p class="g-pstyle0">Lake</p>
    </div>
    <div id="g-ai24-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:45.7199%;margin-top:-14px;left:35.9942%;margin-left:-63px;width:126px;">
      <p class="g-pstyle0">Buckhead</p>
    </div>
    <div id="g-ai24-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:54.4343%;margin-top:-14px;left:43.3051%;margin-left:-57.5px;width:115px;">
      <p class="g-pstyle0">Midtown</p>
    </div>
    <div id="g-ai24-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:57.4342%;margin-top:-14px;left:66.4916%;margin-left:-52.5px;width:105px;">
      <p class="g-pstyle0">Decatur</p>
    </div>
    <div id="g-ai24-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:65.4342%;margin-top:-14px;left:60.5017%;margin-left:-61px;width:122px;">
      <p class="g-pstyle0">Kirkwood</p>
    </div>
    <div id="g-ai24-6" class="g-IMGs g-aiAbs g-aiPointText" style="top:92.0342%;margin-top:-27.2px;left:21.549%;margin-left:-50.5px;width:101px;">
      <p class="g-pstyle0">College</p>
      <p class="g-pstyle0">Park</p>
    </div>
  </div>
</div>
