<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Austin-FF" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Austin-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-Austin-FF.jpg"/>
    <div id="g-ai13-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:24.0342%;margin-top:-27.2px;left:76.5236%;margin-left:-55.5px;width:111px;">
      <p class="g-pstyle0">Windsor</p>
      <p class="g-pstyle0">Park</p>
    </div>
    <div id="g-ai13-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:31.8914%;margin-top:-27.2px;left:17.8005%;margin-left:-38px;width:76px;">
      <p class="g-pstyle0">West</p>
      <p class="g-pstyle0">Lake</p>
    </div>
    <div id="g-ai13-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:50.0057%;margin-top:-14px;left:49.9872%;margin-left:-67.5px;width:135px;">
      <p class="g-pstyle0">Downtown</p>
    </div>
    <div id="g-ai13-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:66.3199%;margin-top:-27.2px;left:41.1024%;margin-left:-60.5px;width:121px;">
      <p class="g-pstyle0">South</p>
      <p class="g-pstyle0">Congress</p>
    </div>
    <div id="g-ai13-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:86.0342%;margin-top:-27.2px;left:25.0361%;margin-left:-56px;width:112px;">
      <p class="g-pstyle0">Garrison</p>
      <p class="g-pstyle0">Park</p>
    </div>
  </div>
</div>
