<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Austin-FF" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Austin-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-FF.jpg"/>
    <div id="g-ai18-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:37.6057%;margin-top:-27.2px;left:72.7606%;margin-left:-55.5px;width:111px;">
      <p class="g-pstyle0">Windsor</p>
      <p class="g-pstyle0">Park</p>
    </div>
    <div id="g-ai18-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:39.6056%;margin-top:-27.2px;left:17.8005%;margin-left:-38px;width:76px;">
      <p class="g-pstyle0">West</p>
      <p class="g-pstyle0">Lake</p>
    </div>
    <div id="g-ai18-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:60.2913%;margin-top:-14px;left:46.7074%;margin-left:-67.5px;width:135px;">
      <p class="g-pstyle0">Downtown</p>
    </div>
    <div id="g-ai18-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:76.4628%;margin-top:-27.2px;left:41.1024%;margin-left:-60.5px;width:121px;">
      <p class="g-pstyle0">South</p>
      <p class="g-pstyle0">Congress</p>
    </div>
    <div id="g-ai18-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:92.0342%;margin-top:-27.2px;left:22.2692%;margin-left:-56px;width:112px;">
      <p class="g-pstyle0">Garrison</p>
      <p class="g-pstyle0">Park</p>
    </div>
  </div>
</div>
