<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Boston-FF" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Boston-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-Boston-FF.jpg"/>
    <div id="g-ai0-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:27.5771%;margin-top:-14px;left:39.7492%;margin-left:-69.5px;width:139px;">
      <p class="g-pstyle0">Cambridge</p>
    </div>
    <div id="g-ai0-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:35.5771%;margin-top:-14px;left:47.7097%;margin-left:-59.5px;width:119px;">
      <p class="g-pstyle0">Back Bay</p>
    </div>
    <div id="g-ai0-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:43.0057%;margin-top:-14px;left:58.5684%;margin-left:-66px;width:132px;">
      <p class="g-pstyle0">South End</p>
    </div>
    <div id="g-ai0-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:66.2914%;margin-top:-14px;left:29.5949%;margin-left:-82px;width:164px;">
      <p class="g-pstyle0">Jamaica Plain</p>
    </div>
    <div id="g-ai0-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:69.8628%;margin-top:-14px;left:65.0946%;margin-left:-68.5px;width:137px;">
      <p class="g-pstyle0">Dorchester</p>
    </div>
  </div>
</div>
