<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Chicago-FF" class="g-artboard" data-aspect-ratio="1">
		<img id="g-Maps-ai2html-Chicago-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-FF.jpg"/>
		<div id="g-ai8-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:29.5771%;margin-top:-14px;left:53.7358%;margin-left:-82px;width:164px;">
			<p class="g-pstyle0">Andersonville</p>
		</div>
		<div id="g-ai8-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:42.8628%;margin-top:-14px;left:62.2949%;margin-left:-62.5px;width:125px;">
			<p class="g-pstyle0">Boystown</p>
		</div>
		<div id="g-ai8-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:59.7199%;margin-top:-14px;left:58.8542%;margin-left:-67.5px;width:135px;">
			<p class="g-pstyle0">Downtown</p>
		</div>
		<div id="g-ai8-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:78.4342%;margin-top:-14px;left:64.0179%;margin-left:-64.5px;width:129px;">
			<p class="g-pstyle0">Hyde Park</p>
		</div>
	</div>
</div>
