<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Denver-SS" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Denver-SS-img" class="g-aiImg" src="assets/images/Maps-ai2html-Denver-SS.jpg"/>
    <div id="g-ai14-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:27.4342%;margin-top:-14px;left:28.3016%;margin-left:-66px;width:132px;">
      <p class="g-pstyle0">Sunnyside</p>
    </div>
    <div id="g-ai14-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:29.3199%;margin-top:-27.2px;left:77.2575%;margin-left:-34.5px;width:69px;">
      <p class="g-pstyle0">Park</p>
      <p class="g-pstyle0">Hill</p>
    </div>
    <div id="g-ai14-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:39.7199%;margin-top:-14px;left:48.2716%;margin-left:-52px;width:104px;">
      <p class="g-pstyle0">Uptown</p>
    </div>
    <div id="g-ai14-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:52.1771%;margin-top:-27.2px;left:47.5681%;margin-left:-48.5px;width:97px;">
      <p class="g-pstyle0">Capitol</p>
      <p class="g-pstyle0">Hill</p>
    </div>
    <div id="g-ai14-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:79.8914%;margin-top:-27.2px;left:32.1424%;margin-left:-50.5px;width:101px;">
      <p class="g-pstyle0">College</p>
      <p class="g-pstyle0">View</p>
    </div>
  </div>
</div>
