<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Houston-MM" class="g-artboard" data-aspect-ratio="1">
		<img id="g-Maps-ai2html-Houston-MM-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-MM.jpg"/>
		<div id="g-ai16-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:42.7199%;margin-top:-14px;left:86.9492%;margin-left:-69.5px;width:139px;">
			<p class="g-pstyle0">Northshore</p>
		</div>
		<div id="g-ai16-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:42.7199%;margin-top:-14px;left:44.2312%;margin-left:-74.5px;width:149px;">
			<p class="g-pstyle0">The Heights</p>
		</div>
		<div id="g-ai16-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:60.7199%;margin-top:-14px;left:44.7821%;margin-left:-60.5px;width:121px;">
			<p class="g-pstyle0">Montrose</p>
		</div>
		<div id="g-ai16-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:66.7485%;margin-top:-27.2px;left:60.9515%;margin-left:-70px;width:140px;">
			<p class="g-pstyle0">Greater</p>
			<p class="g-pstyle0">Third Ward</p>
		</div>
	</div>
</div>
