<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Houston-FF" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Houston-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-Houston-FF.jpg"/>
    <div id="g-ai30-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:30.0057%;margin-top:-14px;left:42.9968%;margin-left:-74.5px;width:149px;">
      <p class="g-pstyle0">The Heights</p>
    </div>
    <div id="g-ai30-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:41.4342%;margin-top:-14px;left:60.9496%;margin-left:-67.5px;width:135px;">
      <p class="g-pstyle0">Downtown</p>
    </div>
    <div id="g-ai30-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:48.0057%;margin-top:-14px;left:43.5477%;margin-left:-60.5px;width:121px;">
      <p class="g-pstyle0">Montrose</p>
    </div>
    <div id="g-ai30-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:59.6057%;margin-top:-27.2px;left:60.9515%;margin-left:-70px;width:140px;">
      <p class="g-pstyle0">Greater</p>
      <p class="g-pstyle0">Third Ward</p>
    </div>
  </div>
</div>
