<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-LosAngeles-MM" class="g-artboard" data-aspect-ratio="1">
		<img id="g-Maps-ai2html-LosAngeles-MM-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-MM.jpg"/>
		<div id="g-ai22-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:35.7199%;margin-top:-14px;left:90.0007%;margin-left:-61px;width:122px;">
			<p class="g-pstyle0">Pasadena</p>
		</div>
		<div id="g-ai22-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:44.3199%;margin-top:-27.2px;left:29.561%;margin-left:-66px;width:132px;">
			<p class="g-pstyle0">Hollywood</p>
			<p class="g-pstyle0">Hills</p>
		</div>
		<div id="g-ai22-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:56.0342%;margin-top:-27.2px;left:65.1243%;margin-left:-41px;width:82px;">
			<p class="g-pstyle0">Silver</p>
			<p class="g-pstyle0">Lake</p>
		</div>
		<div id="g-ai22-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:57.177%;margin-top:-27.2px;left:24.207%;margin-left:-66px;width:132px;">
			<p class="g-pstyle0">West</p>
			<p class="g-pstyle0">Hollywood</p>
		</div>
		<div id="g-ai22-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:78.7199%;margin-top:-14px;left:79.9251%;margin-left:-67.5px;width:135px;">
			<p class="g-pstyle0">Downtown</p>
		</div>
	</div>
</div>
