<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-LosAngeles-SS" class="g-artboard" data-aspect-ratio="1">
		<img id="g-Maps-ai2html-LosAngeles-SS-img" class="g-aiImg" src="assets/images/Maps-ai2html-LosAngeles-SS.jpg"/>
    <div id="g-ai36-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:24.1485%;margin-top:-14px;left:84.1479%;margin-left:-61px;width:122px;">
			<p class="g-pstyle0">Glendale</p>
		</div>
		<div id="g-ai36-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:32.6056%;margin-top:-27.2px;left:25.9891%;margin-left:-66px;width:132px;">
			<p class="g-pstyle0">Hollywood</p>
			<p class="g-pstyle0">Hills</p>
		</div>
		<div id="g-ai36-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:45.0342%;margin-top:-27.2px;left:59.5529%;margin-left:-41px;width:82px;">
			<p class="g-pstyle0">Silver</p>
			<p class="g-pstyle0">Lake</p>
		</div>
		<div id="g-ai36-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:48.4628%;margin-top:-27.2px;left:22.7038%;margin-left:-66px;width:132px;">
			<p class="g-pstyle0">West</p>
			<p class="g-pstyle0">Hollywood</p>
		</div>
		<div id="g-ai36-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:72.8628%;margin-top:-14px;left:83.5485%;margin-left:-67.5px;width:135px;">
			<p class="g-pstyle0">Downtown</p>
		</div>
	</div>
</div>
