<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Miami-SS" class="g-artboard" data-aspect-ratio="1">
		<img id="g-Maps-ai2html-Miami-SS-img" class="g-aiImg" src="assets/images/Maps-ai2html-Miami-SS.jpg"/>
		<div id="g-ai10-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:13.0057%;margin-top:-14px;left:67.9934%;margin-left:-66px;width:132px;">
			<p class="g-pstyle0">Hollywood</p>
		</div>
		<div id="g-ai10-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:47.6056%;margin-top:-27.2px;left:55.494%;margin-left:-47.5px;width:95px;">
			<p class="g-pstyle0">Miami</p>
			<p class="g-pstyle0">Shores</p>
		</div>
		<div id="g-ai10-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:65.7485%;margin-top:-27.2px;left:73.7034%;margin-left:-43.5px;width:87px;">
			<p class="g-pstyle0">South</p>
			<p class="g-pstyle0">Beach</p>
		</div>
		<div id="g-ai10-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:65.4342%;margin-top:-14px;left:50.7815%;margin-left:-67.5px;width:135px;">
			<p class="g-pstyle0">Downtown</p>
		</div>
		<div id="g-ai10-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:84.5771%;margin-top:-14px;left:39.3064%;margin-left:-78.5px;width:157px;">
			<p class="g-pstyle0">Coral Gables</p>
		</div>
	</div>
</div>
