<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Miami-FF" class="g-artboard" data-aspect-ratio="1">
		<img id="g-Maps-ai2html-Miami-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-FF.jpg"/>
		<div id="g-ai12-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:15.7199%;margin-top:-14px;left:61.9934%;margin-left:-66px;width:132px;">
			<p class="g-pstyle0">Hollywood</p>
		</div>
		<div id="g-ai12-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:55.0342%;margin-top:-27.2px;left:52.3511%;margin-left:-47.5px;width:95px;">
			<p class="g-pstyle0">Miami</p>
			<p class="g-pstyle0">Shores</p>
		</div>
		<div id="g-ai12-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:74.177%;margin-top:-27.2px;left:69.9932%;margin-left:-43.5px;width:87px;">
			<p class="g-pstyle0">South</p>
			<p class="g-pstyle0">Beach</p>
		</div>
		<div id="g-ai12-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:74.8628%;margin-top:-14px;left:48.7815%;margin-left:-67.5px;width:135px;">
			<p class="g-pstyle0">Downtown</p>
		</div>
		<div id="g-ai12-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:87.4342%;margin-top:-14px;left:36.0179%;margin-left:-78.5px;width:157px;">
			<p class="g-pstyle0">Coral Gables</p>
		</div>
	</div>
</div>
