<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-NewOrleans-FF" class="g-artboard" data-aspect-ratio="1">
		<img id="g-Maps-ai2html-NewOrleans-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-FF.jpg"/>
		<div id="g-ai14-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:24.177%;margin-top:-27.2px;left:70.4678%;margin-left:-47.5px;width:95px;">
			<p class="g-pstyle0">Little</p>
			<p class="g-pstyle0">Woods</p>
		</div>
		<div id="g-ai14-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:45.7199%;margin-top:-14px;left:34.8644%;margin-left:-57px;width:114px;">
			<p class="g-pstyle0">Mid-City</p>
		</div>
		<div id="g-ai14-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:50.8914%;margin-top:-27.2px;left:47.5724%;margin-left:-51.5px;width:103px;">
			<p class="g-pstyle0">French</p>
			<p class="g-pstyle0">Quarter</p>
		</div>
		<div id="g-ai14-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:50.8914%;margin-top:-27.2px;left:65.9757%;margin-left:-71.5px;width:143px;">
			<p class="g-pstyle0">Lower</p>
			<p class="g-pstyle0">Ninth Ward</p>
		</div>
		<div id="g-ai14-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:84.5771%;margin-top:-14px;left:46.6725%;margin-left:-45px;width:90px;">
			<p class="g-pstyle0">Lafitte</p>
		</div>
	</div>
</div>
