<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-NewYork-MM" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-NewYork-MM-img" class="g-aiImg" src="assets/images/Maps-ai2html-NewYork-MM.jpg"/>
    <div id="g-ai2-1" class="g-Labels g-aiAbs g-aiPointText" style="top:29.3199%;margin-top:-27.2px;left:43.9861%;margin-left:-51px;width:102px;">
      <p class="g-pstyle0">Hell&rsquo;s</p>
      <p class="g-pstyle0">Kitchen</p>
    </div>
    <div id="g-ai2-2" class="g-Labels g-aiAbs g-aiPointText" style="top:38.1485%;margin-top:-14px;left:40.8979%;margin-left:-53px;width:106px;">
      <p class="g-pstyle0">Chelsea</p>
    </div>
    <div id="g-ai2-3" class="g-Labels g-aiAbs g-aiPointText" style="top:46.32%;margin-top:-27.2px;left:39.183%;margin-left:-47px;width:94px;">
      <p class="g-pstyle0">West</p>
      <p class="g-pstyle0">Village</p>
    </div>
    <div id="g-ai2-4" class="g-Labels g-aiAbs g-aiPointText" style="top:56.2914%;margin-top:-14px;left:65.1546%;margin-left:-81px;width:162px;">
      <p class="g-pstyle0">Williamsburg</p>
    </div>
    <div id="g-ai2-5" class="g-Labels g-aiAbs g-aiPointText" style="top:74.1771%;margin-top:-27.2px;left:58.8873%;margin-left:-56.5px;width:113px;">
      <p class="g-pstyle0">Prospect</p>
      <p class="g-pstyle0">Heights</p>
    </div>
    <div id="g-ai2-6" class="g-Labels g-aiAbs g-aiPointText" style="top:84.2914%;margin-top:-14px;left:48.3363%;margin-left:-67.5px;width:135px;">
      <p class="g-pstyle0">Park Slope</p>
    </div>
  </div>
</div>
