<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-NewYork-SS" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-NewYork-SS-img" class="g-aiImg" src="assets/images/Maps-ai2html-NewYork-SS.jpg"/>
    <div id="g-ai2-1" class="g-Labels g-aiAbs g-aiPointText" style="top:27.4628%;margin-top:-27.2px;left:42.129%;margin-left:-51px;width:102px;">
      <p class="g-pstyle0">Hell&rsquo;s</p>
      <p class="g-pstyle0">Kitchen</p>
    </div>
    <div id="g-ai2-2" class="g-Labels g-aiAbs g-aiPointText" style="top:37.5771%;margin-top:-14px;left:39.3265%;margin-left:-53px;width:106px;">
      <p class="g-pstyle0">Chelsea</p>
    </div>
    <div id="g-ai2-3" class="g-Labels g-aiAbs g-aiPointText" style="top:46.32%;margin-top:-27.2px;left:37.7544%;margin-left:-47px;width:94px;">
      <p class="g-pstyle0">West</p>
      <p class="g-pstyle0">Village</p>
    </div>
    <div id="g-ai2-4" class="g-Labels g-aiAbs g-aiPointText" style="top:58.4342%;margin-top:-14px;left:65.1546%;margin-left:-81px;width:162px;">
      <p class="g-pstyle0">Williamsburg</p>
    </div>
    <div id="g-ai2-5" class="g-Labels g-aiAbs g-aiPointText" style="top:75.4628%;margin-top:-27.2px;left:61.173%;margin-left:-56.5px;width:113px;">
      <p class="g-pstyle0">Prospect</p>
      <p class="g-pstyle0">Heights</p>
    </div>
    <div id="g-ai2-6" class="g-Labels g-aiAbs g-aiPointText" style="top:83.5771%;margin-top:-14px;left:48.9077%;margin-left:-67.5px;width:135px;">
      <p class="g-pstyle0">Park Slope</p>
    </div>
  </div>
</div>
