<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Philadelphia-FF" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Philadelphia-FF-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-FF.jpg"/>
    <div id="g-ai4-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:13.1485%;margin-top:-14px;left:40.2307%;margin-left:-79.5px;width:159px;">
      <p class="g-pstyle0">Germantown</p>
    </div>
    <div id="g-ai4-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:45.4342%;margin-top:-14px;left:62.1528%;margin-left:-59px;width:118px;">
      <p class="g-pstyle0">Fishtown</p>
    </div>
    <div id="g-ai4-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:55.1771%;margin-top:-27.2px;left:24.2153%;margin-left:-75px;width:150px;">
      <p class="g-pstyle0">West</p>
      <p class="g-pstyle0">Philadelphia</p>
    </div>
    <div id="g-ai4-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:61.5771%;margin-top:-14px;left:52.7051%;margin-left:-98px;width:196px;">
      <p class="g-pstyle0">The Gayborhood</p>
    </div>
    <div id="g-ai4-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:73.8628%;margin-top:-14px;left:77.4329%;margin-left:-75.5px;width:151px;">
      <p class="g-pstyle0">Collinswood</p>
    </div>
  </div>
</div>
