<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Philadelphia-SS" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Philadelphia-SS-img" class="g-aiImg" src="assets/images/Maps-ai2html-Philadelphia-SS.jpg"/>
    <div id="g-ai6-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:6.5771%;margin-top:-14px;left:40.2307%;margin-left:-79.5px;width:159px;">
      <p class="g-pstyle0">Germantown</p>
    </div>
    <div id="g-ai6-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:38.1485%;margin-top:-14px;left:62.1528%;margin-left:-59px;width:118px;">
      <p class="g-pstyle0">Fishtown</p>
    </div>
    <div id="g-ai6-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:48.4628%;margin-top:-27.2px;left:28.501%;margin-left:-75px;width:150px;">
      <p class="g-pstyle0">West</p>
      <p class="g-pstyle0">Philadelphia</p>
    </div>
    <div id="g-ai6-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:55.5771%;margin-top:-14px;left:52.7051%;margin-left:-98px;width:196px;">
      <p class="g-pstyle0">The Gayborhood</p>
    </div>
    <div id="g-ai6-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:73.8628%;margin-top:-14px;left:77.4329%;margin-left:-75.5px;width:151px;">
      <p class="g-pstyle0">Collinswood</p>
    </div>
  </div>
</div>
