<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Portland-SS" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Portland-SS-img" class="g-aiImg" src="assets/images/Maps-ai2html-Portland-SS.jpg"/>
    <div id="g-ai17-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:32.6056%;margin-top:-27.2px;left:34.0684%;margin-left:-65.5px;width:131px;">
      <p class="g-pstyle0">Northwest</p>
      <p class="g-pstyle0">Portland</p>
    </div>
    <div id="g-ai17-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:37.4628%;margin-top:-27.2px;left:65.1932%;margin-left:-63px;width:126px;">
      <p class="g-pstyle0">Northeast</p>
      <p class="g-pstyle0">Portland</p>
    </div>
    <div id="g-ai17-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:58.2914%;margin-top:-14px;left:45.2828%;margin-left:-67.5px;width:135px;">
      <p class="g-pstyle0">Downtown</p>
    </div>
    <div id="g-ai17-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:74.7485%;margin-top:-27.2px;left:31.7506%;margin-left:-60.5px;width:121px;">
      <p class="g-pstyle0">Soutwest</p>
      <p class="g-pstyle0">Portland</p>
    </div>
    <div id="g-ai17-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:78.1771%;margin-top:-27.2px;left:66.9035%;margin-left:-64px;width:128px;">
      <p class="g-pstyle0">Southeast</p>
      <p class="g-pstyle0">Portland</p>
    </div>
  </div>
</div>
