<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-SanFrancisco-MM" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-SanFrancisco-MM-img" class="g-aiImg" src="assets/images/Maps-ai2html-{{minimap}}-MM.jpg"/>
    <div id="g-ai24-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:22.1485%;margin-top:-14px;left:15.9438%;margin-left:-59.5px;width:119px;">
      <p class="g-pstyle0">Sausalito</p>
    </div>
    <div id="g-ai24-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:35.5771%;margin-top:-14px;left:84.5585%;margin-left:-54.5px;width:109px;">
      <p class="g-pstyle0">Oakland</p>
    </div>
    <div id="g-ai24-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:54.2913%;margin-top:-14px;left:37.5912%;margin-left:-68.5px;width:137px;">
      <p class="g-pstyle0">The Castro</p>
    </div>
    <div id="g-ai24-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:59.5771%;margin-top:-14px;left:45.3664%;margin-left:-74.5px;width:149px;">
      <p class="g-pstyle0">The Mission</p>
    </div>
    <div id="g-ai24-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:67.4628%;margin-top:-27.2px;left:44.3349%;margin-left:-52px;width:104px;">
      <p class="g-pstyle0">Bernal</p>
      <p class="g-pstyle0">Heights</p>
    </div>
  </div>
</div>
