<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-Seattle-SS" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-Seattle-SS-img" class="g-aiImg" src="assets/images/Maps-ai2html-Seattle-SS.jpg"/>
    <div id="g-ai42-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:28.0342%;margin-top:-27.2px;left:44.7561%;margin-left:-65.5px;width:131px;">
      <p class="g-pstyle0">Northwest</p>
      <p class="g-pstyle0">Seattle</p>
    </div>
    <div id="g-ai42-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:45.7485%;margin-top:-27.2px;left:49.8965%;margin-left:-48.5px;width:97px;">
      <p class="g-pstyle0">Capitol</p>
      <p class="g-pstyle0">Hill</p>
    </div>
    <div id="g-ai42-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:56.8628%;margin-top:-14px;left:57.2231%;margin-left:-62px;width:124px;">
      <p class="g-pstyle0">Mt. Baker</p>
    </div>
    <div id="g-ai42-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:60.32%;margin-top:-27.2px;left:36.8477%;margin-left:-48px;width:96px;">
      <p class="g-pstyle0">West</p>
      <p class="g-pstyle0">Seattle</p>
    </div>
    <div id="g-ai42-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:87.3199%;margin-top:-27.2px;left:22.7086%;margin-left:-49.5px;width:99px;">
      <p class="g-pstyle0">Vashon</p>
      <p class="g-pstyle0">Island</p>
    </div>
  </div>
</div>
