<div id="g-Maps-ai2html-box" class="ai2html ai2html-box-v5">
  <div id="g-Maps-ai2html-WashingtonDC-MM" class="g-artboard" data-aspect-ratio="1">
    <img id="g-Maps-ai2html-WashingtonDC-MM-img" class="g-aiImg" src="assets/images/Maps-ai2html-WashingtonDC-MM.jpg"/>
    <div id="g-ai7-1" class="g-IMGs g-aiAbs g-aiPointText" style="top:12.1771%;margin-top:-27.2px;left:54.5876%;margin-left:-52px;width:104px;">
      <p class="g-pstyle0">Takoma</p>
      <p class="g-pstyle0">Park</p>
    </div>
    <div id="g-ai7-2" class="g-IMGs g-aiAbs g-aiPointText" style="top:30.5771%;margin-top:-14px;left:81.0253%;margin-left:-66px;width:132px;">
      <p class="g-pstyle0">Hyattsville</p>
    </div>
    <div id="g-ai7-3" class="g-IMGs g-aiAbs g-aiPointText" style="top:44.7485%;margin-top:-27.2px;left:37.7383%;margin-left:-50px;width:100px;">
      <p class="g-pstyle0">Dupont</p>
      <p class="g-pstyle0">Circle</p>
    </div>
    <div id="g-ai7-4" class="g-IMGs g-aiAbs g-aiPointText" style="top:57.4628%;margin-top:-27.2px;left:61.1395%;margin-left:-48.5px;width:97px;">
      <p class="g-pstyle0">Capitol</p>
      <p class="g-pstyle0">Hill</p>
    </div>
    <div id="g-ai7-5" class="g-IMGs g-aiAbs g-aiPointText" style="top:69.0057%;margin-top:-14px;left:27.5992%;margin-left:-60px;width:120px;">
      <p class="g-pstyle0">Arlington</p>
    </div>
    <div id="g-ai7-6" class="g-IMGs g-aiAbs g-aiPointText" style="top:94.0057%;margin-top:-14px;left:36.0103%;margin-left:-66.5px;width:133px;">
      <p class="g-pstyle0">Alexandria</p>
    </div>
  </div>
</div>
