<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- smoosh -->
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body class='tk-publico'>

	{{> base/header 'sticky' }}

	<main id='content' class='is-truncated'>

		{{> story/intro }}
		{{> story/scrollMap }}
		{{> story/details }}
		{{> story/detailscont }}
		{{> story/miniMaps }}
		{{> story/methodology }}
		<!-- PUT ALL YOUR HTML HERE-->

	</main>

	{{!--
	<script src='{{basepath}}assets/scripts/d3.v5.0.0.min.js'></script> --}}
	<script src='{{basepath}}assets/scripts/d3.v4.12.0+jetpack.min.js'></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
	{{!-- <script src='https://pudding.cool/assets/scripts/pudding-footer.js' async></script> --}}
</body>

</html>
