.index-scale
	width 100%
	padding 0.5rem 0
	
	.scale-blocks
		display flex

	.scale-block
		width 25%
		height 20px
		opacity 0.65

	.scale-labels
		display flex
		justify-content space-between
	
	p.label
		set-type-size('xx-small', true)
		color $gray-dark
		margin 0.25rem 0 0 0

	.right
		text-align right

	.SS1
		background-color #ffb993

	.SS2
		background-color #ff9f6e

	.SS3
		background-color #fb8548

	.SS4
		background-color #f36c21

	.G1
		background-color #dcc4ff

	.G2
		background-color #7776b6

	.G3
		background-color #5457a4

	.G4
		background-color #273a92