/* CUSTOM STORY STYLE */
#content
	height 100vh
	&.is-truncated
		overflow hidden

#scrollMap
  position absolute
	top 50%
	transform translateY(-50%)

#scroll
	position relative

.scroll__graphic
	width 100%
	position sticky
	top 0
	right 0
	transform translate3d(0, 0, 0)

.scroll__text
	position relative
	max-width 100%
	width 'calc(100% - 1rem)'
	padding 0
	margin 1rem
	+mq('bp-4')
		width 50%
		padding 0 1rem
	+mq('bp-5')
		width 33%
		max-width 30rem

	.step.is-active
		opacity 1

	.step
		margin 2rem auto
		opacity 0.5

		.step-wrapper
			background-color rgba(255,255,255, 0.9)

			p
				padding 1rem
				set-type-size('small', true)
				+mq('bp-4')
					set-type-size('root', true)

				span
					text-transform uppercase
					font-family $atlas
					font-weight bold
					set-type-size('small', true)
					+mq('bp-4')
						set-type-size('root', true)

.details
	margin 0 auto
	padding 0rem 1rem 2rem 1rem
	max-width 720px

	.dist-dek
		margin 2rem 0 1rem 0

#dist-chart
	width 100%
	margin 1rem 0
	+mq('bp-5')
		margin 1rem 0 2rem 0

	.g-chart
		margin-top -20px

	.axis text
		font-family $atlas
		set-type-size('x-small', true)
		pointer-events none
		fill $gray

	.label
		font-family $atlas
		set-type-size('x-small', true)
		pointer-events none
		fill $gray-dark

	.less
		text-anchor start

	.more
		text-anchor end

	.top-zips
		font-family $atlas
		set-type-size('x-small', true)
		pointer-events none
		text-anchor end
		fill #f36c21
		font-weight bold

	.top-zips-f
		font-family $atlas
		set-type-size('x-small', true)
		pointer-events none
		text-anchor start
		fill #f36c21
		font-weight bold

  .x.axis line
		display none

	.x.axis text
		display none

	.domain
		display none

	.bgRect
		fill $off-white

	.percentline
		stroke-width 2px
		stroke rgba(39,58,146, 0.2)

	.top-value-f, .top-value-m
		stroke-width 2px
		stroke rgb(243,108,33)

	.g-name
		text-transform uppercase
		font-weight bold
		font-family $atlas
		font-size 14px
		line-height 1.5
		margin 0 0 0.5rem 0

.detailscont
	padding 0rem 1rem 2rem 1rem
	margin 0 auto
	max-width 720px

.dropdown-sticky
	position sticky
	top 2.5rem
	right 0
	height 4.5rem
	float none
	z-index 1
	+mq('bp-6')
		float left


.dropdown-wrapper
	max-width 690px
	margin 0 auto
	padding 1.25rem 0 1rem 0
	background-color rgba(255, 255, 255, 0.9)
	+mq('bp-6')
		padding 3rem 0 0 1rem

#city-select
	background-color $off-white
	border none
	cursor pointer
	height 2.5rem

.city-wrapper
	padding 0rem 1rem 2rem 1rem
	margin 0 auto
	max-width 720px
	border-top 1px solid $off-white
	+mq('bp-5')
		margin 3rem auto 0 auto

.city-hed
	display none
	margin-top 0
	float left

.city-name-svg
		width 70%
		float left
		margin 0.75rem 0
		+mq('bp-4')
			width 45%

.us-map
	float right
	width 15%
	height 50px
	margin-top 0.5rem
	+mq('bp-4')
		width 75px

.map-wrapper
	display block
	clear both
	width 100%
	+mq('bp-4')
		display flex
		justify-content space-between
		clear both

.mini-map-wrapper
	width 100%
	margin-bottom 1rem
	+mq('bp-4')
		width 49%

.mini-map
	width 100%
	background-color $off-white

.chart-label
	font-weight bold
	text-transform uppercase
	margin 0.25rem 0 1.5rem 0
	+mq('bp-4')
		margin 0.5rem 0 0 0

.methodology-wrapper
	margin 6rem auto 0 auto
	width 100%
	max-width 1100px
	border-top 1px solid $gray-light

.methodology
	margin 0 auto
	max-width 720px

  h3 a
		text-decoration none
		border-bottom none

  ul
		list-style-type disc
		padding 0 3rem

  li
		margin-bottom 1.7rem

		.list-start
			font-weight bold
			text-transform uppercase

#g-Maps-ai2html-box
	.g-artboard
		margin 0 auto
		position relative
		overflow hidden

		p
			margin 0

		.g-pstyle0
			font-family $atlas
			text-align center
			set-type-size('small', true)
			line-height 1.2
			text-shadow -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;

	.g-aiAbs
		position absolute

	.g-aiImg
		display block
		width 100% !important

	.g-aiSymbol
		position absolute
		box-sizing border-box

	.g-aiPointText
		p
			white-space nowrap
