/* CUSTOM STORY STYLE */
#content
	height 100vh
	&.is-truncated
		overflow hidden

#scrollMap
  position absolute
	top 50%
	transform translateY(-50%)

#scroll
	position relative

.scroll__graphic
	width 100%
	position sticky
	top 0
	right 0
	transform translate3d(0, 0, 0)

.scroll__text
	position relative
	max-width 100%
	width 100%
	padding 0
	+mq('bp-4')
		width 50%
		padding 0 1rem
	+mq('bp-5')
		width 33%
		max-width 30rem

	.step.is-active
		opacity 1

	.step
		margin 2rem auto
		opacity 0.5

		.step-wrapper
			background-color rgba(255,255,255, 0.9)

			p
				padding 1rem
				set-type-size('small', true)
				+mq('bp-4')
					set-type-size('medium', true)

				span
					text-transform uppercase
					font-family $atlas
					font-weight bold
					set-type-size('small', true)
					+mq('bp-4')
						set-type-size('root', true)

.details
	margin 0 auto
	max-width 720px

	.dist-dek
		margin 2rem 0 1rem 0

#dist-chart
	width 100%
	margin 1rem 0 5rem 0

	.axis text
		font-family $atlas
		set-type-size('x-small', true)
		pointer-events none
		fill $gray

	.label
		font-family $atlas
		set-type-size('x-small', true)
		pointer-events none
		fill $gray-dark

	.less
		text-anchor start

	.more
		text-anchor end

  .x.axis line
		display none

	.x.axis text
		display none

	.domain
		display none

	.bgRect
		fill $off-white

	.percentline
		stroke-width 2px
		stroke rgba(39,58,146, 0.2)

	.g-name
		text-transform uppercase
		font-weight bold
		font-family $atlas
		font-size 14px
		line-height 1.5
		margin 0 0 0.5rem 0

.detailscont
	margin 0 auto
	max-width 720px

.dropdown-sticky
	position sticky
	top 2.5rem
	right 0
	height 4.5rem
	float none
	+mq('bp-6')
		float left


.dropdown-wrapper
	max-width 720px
	margin 0 auto
	padding 1.5rem 0
	background-color rgba(255, 255, 255, 0.9)
	+mq('bp-6')
		padding 4rem 0 0 1rem

#city-select
	background-color $off-white
	border none
	cursor pointer
	height 2.5rem

.city-wrapper
	margin 5rem auto 0 auto
	max-width 720px
	border-top 1px solid $off-white

.city-hed
	display none
	margin-top 0
	float left

.city-name-svg
		width 350px
		float left
		margin-top 0.75rem

.us-map
	float right
	width 75px
	height 50px
	margin-top 0.5rem

.map-wrapper
	display flex
	justify-content space-between
	clear both

.mini-map-wrapper
	width 32%

	p
		margin-top 0.5rem
		font-weight bold
		text-transform uppercase

.mini-map
	width 100%
	background-color $off-white
	height 200px

.methodology-wrapper
	margin 6rem auto 0 auto
	width 100%
	max-width 1100px
	border-top 1px solid $gray-light

.methodology
	margin 0 auto
	max-width 720px

  h3 a
		text-decoration none
		border-bottom none

  ul
		list-style-type disc
		padding 0 3rem

  li
		margin-bottom 1.7rem

		.list-start
			font-weight bold
			text-transform uppercase
