<div class='details'>
	<h3 class='x-large tk-canela'>Men like the nightlife, they like to boogie</h3>
		{{#each copy.details}}
		<p class>{{{value}}}</p>
		{{/each}}
	<p class='dist-dek large tk-canela'>Distribution of index scores by gender</p>
	<p>Overall, same-sex female households have lower index scores, suggesting that they are less likely to live in a neighborhood surrounded by other same-sex female households. Males, on the other hand, drive gayborhoods.</p>
	<div id='dist-chart'></div>
</div>
