<div class='details'>
	<h3>Creating the gayborhoods index</h3>
		{{#each copy.details}}
		<p>{{{value}}}</p>
		{{/each}}
		<ul>
			{{#each copy.metrics}}
			<li><span class='list-start tk-atlas small'>{{{dataName}}}: </span>{{{dataDesc}}}</li>
			{{/each}}
		</ul>
</div>
