<div class='detailscont'>
	<h3>XXXXXX</h3>
		{{#each copy.detailscont}}
		<p class>{{{value}}}</p>
		{{/each}}
</div>
<div class='dropdown-sticky'>
	<div class='dropdown-wrapper'>
		<select id='city-select' class='tk-atlas medium'>
		  <option value='choose' selected='true' disabled='disabled'>Choose a city</option>
			{{#each copy.city}}
			<option value='{{minimap}}'>{{minimap}}</option>
			{{/each}}
		</select>
	</div>
</div>
