<div class='detailscont'>
	<h3 class='x-large tk-canela'>How gayborhoods shape cities</h3>
		{{#each copy.detailscont}}
		<p class>{{{value}}}</p>
		{{/each}}
</div>
<div id='dropdown-sticky'>
	<div class='dropdown-sticky-outer'>
		<div class='dropdown-wrapper'>
			<select id='city-select' class='tk-atlas small'>
				<option value='choose' selected='true' disabled='disabled'>Choose a city</option>
				{{#each copy.city}}
				<option value='{{minimap}}'>{{city}}</option>
				{{/each}}
			</select>
		</div>
	</div>
</div>
