<div class='details'>
	<h3 class='x-large tk-canela'>Men like the nightlife, they like to boogie</h3>
		{{#each copy.details}}
		<p class>{{{value}}}</p>
		{{/each}}
	<div id='dist-chart'></div>
</div>
