<div class='details'>
	<h3 class='x-large tk-canela'>Men like the nightlife, they like to boogie</h3>
		{{#each copy.details}}
		<p class>{{{value}}}</p>
		{{/each}}
	<p class='dist-dek large tk-canela'>Distribution of gayborhoods by gender</p>	
	<div id='dist-chart'></div>
</div>
