<div class="methodology-wrapper">
	<div class='methodology'>
		<h3 class='tk-atlas' id='data-link'>Data and Methods</h3>
			{{#each copy.methodology}}
			<p class='small tk-atlas'>{{{value}}}</p>
			{{/each}}
			<ul>
				{{#each copy.metrics}}
				<li class='small tk-atlas'><span class='list-start tk-atlas small'>{{{dataName}}}: </span>{{{dataDesc}}}</li>
				{{/each}}
			</ul>
			{{#each copy.methodologycont}}
			<p class='small tk-atlas'>{{{value}}}</p>
			{{/each}}
	</div>
</div>
