<div class='index-scale tk-atlas'>
	<ul class='scale-blocks'>
		<li class='scale-block SS1'></li>
		<li class='scale-block SS2'></li>
		<li class='scale-block SS3'></li>
		<li class='scale-block SS4'></li>
	</ul>
	<div class='scale-labels'>
		<p class='label left'>Less certain</p>
		<p class='label right'>More certain</p>
	</div>
</div>