<section id='scroll'>
	<div class='scroll__graphic sticky'>
		<div id='scrollMap' class='map'></div>
	</div>
	<div class='scroll__text'>
		<div class='step' data-step='1'>
				<p>Parade route</p>
		</div>
		<div class='step' data-step='2'>
				<p>Gay bars</p>
		</div>
		<div class='step' data-step='3'>
				<p>Gayborhood</p>
		</div>
		<div class='step' data-step='4'>
				<p>Male gayborhood</p>
		</div>
		<div class='step' data-step='5'>
				<p>Female gayborhood</p>
		</div>
	</div>
</section>
